.shelving-kits__title {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 48px;
}

.shelving-kits__filters-wrapper{
	margin-top: 32px;
	display: flex;
	column-gap: 24px;
}

@media(max-width: 500px) {
	.shelving-kits__filters-wrapper{
		flex-direction: column;
		row-gap: 30px;
	}
	
}